/* Header.module.css */
.headerContainer {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  white-space: nowrap;
  background-color: #ff6600;
  width: 100%;
  box-sizing: border-box;
}

.flexFixed {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}

.siteTitle {
  font-weight: 700;
  margin-right: 0.5rem;
  color: black;
  text-decoration: none;
}

.link {
  margin-left: 2px;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  color: black;
}

.activeLink {
  margin-left: 2px;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  color: white;
}

.pointer {
  margin-left: 1rem;
  cursor: pointer;
  color: black;
}
